#header {
	color:#666666;

	background-size:cover;
}

.header-title {
	padding: 0px 0 0 40px;
    margin-top: -60px;
    margin-bottom: 60px;
}

.header-img-wrapper {
	    position: relative;
}

.header-img {
	position: absolute;
    top: -260px;
    left: -200px;
    width: 700px;
    right: 0;
}

.button {
    border-radius: 0;
    float:none;
    margin: 0 auto;
    margin-top:80px;
    padding: 5px 20px;
    display: inline-block;
    font-weight: 400;
    max-width: 400px;
}

.button i {
    float:right;
}

.dark a.button:hover {
    border-bottom-color: #37474f;
}

.cl-effect-4 a::after {
    background:#666666;
}